.contacto {
    display: grid;
    grid-template-columns: 1fr;
      .formulario {
      height: 100vh;
    }
  
  }
  
  .formulario {
    display: flex;
    padding: 2%;
    justify-content: center;
    
      h2 {
      display: flex;
      padding-bottom: 20px;
      justify-content: center;
    }
  }
  
  form {
    padding: 2%;
  }
  
  .reservas {
    border-style: solid;
    border-radius: 10px;
  }

@mixin btn-style ($mt, $c, $bg) {
  background-color: $bgColor;
  color: $color;
  margin-top: $mt;
  
}

  .btn-primary {
    @include btn-style(10px, $color, $bgColor);
}
  