#map {
    max-width: 700px ;
  }
  
  .ubicacion {
    background-color: hsla(0deg, 0%, 87%, 0.549);
    flex-flow: row nowrap;
  }
  
  .travel {
    object-fit: fill;
    transform: translateY(1rem);
  }